*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.traffic{
    background-color: black;
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    margin-top: 60px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.red, .blue, .green{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin-top: 14px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}